extends ./layout/index

block slider 
    .slider
        h1 Rio de Janeiro 
        em aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod neque vel ex blandit rhoncus. Sed felis turpis, scelerisque sed mauris vitae, volutpat ultricies felis. 
                p Sed semper nulla non nisl eleifend, vitae lacinia eros pretium. Pellentesque volutpat pellentesque eros ut posuere. Vestibulum scelerisque est commodo, consectetur purus nec, rutrum risus.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt=" imagen nosotros", class="img-fluid")

        include ./layout/bloque_viajes

    .descuento
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p.precio $2,500 USD

    .container
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales
