extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus consequat vitae tortor ac posuere. Duis euismod placerat nisi vel imperdiet. Maecenas at lorem elit. Donec pharetra eros eget semper mattis. Donec bibendum, libero ut efficitur maximus, ligula diam fermentum urna, vitae commodo nunc neque at purus. Donec tempus orci justo,laoreet faucibus lorem rutrum id. Maecenas eu mattis massa. Proin magna quam, tempor nec sem at, varius venenatis neque. Maecenas in iaculis erat. Integer id urna consectetur, bibendum orci vitae, consequat eros.

                p Integer sagittis fringilla mauris sit amet tempor. Curabitur suscipit orci libero, sit amet pulvinar risus accumsan eget. Quisque ultricies bibendum lacus sodales commodo. Nullam aliquam, augue et condimentum scelerisque, tortor quam ullamcorper purus, in tincidunt dolor purus in massa. Integer nec nunc placerat libero gravida ornare. Integer sit amet turpis enim. Mauris elementum ipsum ut mi elementum viverra. Suspendisse ac risus tincidunt, interdum dui a, rhoncus neque. Maecenas vitae mauris justo.

                p Vivamus cursus, tellus ac viverra dictum, dolor turpis vestibulum nulla, eget accumsan neque sapien nec enim. Integer id molestie arcu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur augue lorem, blandit at eros pharetra, faucibus elementum tortor. In pretium rutrum nisi non laoreet. Aliquam erat volutpat. Donec et enim facilisis, convallis velit quis, volutpat sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur augue lorem, blandit at eros pharetra, faucibus elementum tortor. In pretium rutrum nisi non laoreet. Aliquam erat volutpat. Donec et enim facilisis, convallis velit quis, volutpat sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur augue lorem, blandit at eros pharetra, faucibus elementum tortor. In pretium rutrum nisi non laoreet. Aliquam erat volutpat. Donec et enim facilisis, convallis velit quis, volutpat sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores Precios
                    p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur augue lorem, blandit at eros pharetra, faucibus elementum tortor. In pretium rutrum nisi non laoreet. Aliquam erat volutpat. Donec et enim facilisis, convallis velit quis, volutpat sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit
